.body {
  background-color: beige;
  height: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  text-decoration-color: chocolate;
}

.top {
  background-color: beige;
  text-decoration-color: chocolate;
}

.name {
  width: 1000px;
  height: 100px;
}

.hobby {
  width: 1000px;
  height: 100px;
}

.school {
  width: 1000px;
  height: 100px;
}
